	<h3 style="margin-top: 1.5em;" data-filterwork-target="webdevworktitle"></h3>
		<div class="row">	<!-- open row that holds (2) columns for project 2 -->
			<div class=" row reverseimg">
				<div class="column col-md-6 col-lg-7"> <!-- open first column (used for image) -->
					<%= image_tag 'placeholder/webdev_1.jpg', alt: 'My Image' %>
				</div><!-- close first column (used for image) -->
				<div class="column col-md-6 col-lg-5">	<!-- open second column (used for text) -->
					<h3>Quickpad</h3>		<!-- heading for the project -->
					<p>	<!-- open paragraph -->
						An accounting app for small business ownders to manage their accounting records in an efficient manner.
					</p>	<!-- end paragraph -->		
					<%= link_to "Explore App", "https://quickpadaccounting.herokuapp.com/", target: "_blank", class: 'button' %>
				</div> <!-- end second column -->
			</div>
			<div class="row">
				<div class="column col-md-6 col-lg-7"> <!-- open first column (used for image) -->
					<%= image_tag 'imhome/imhome_1.jpg', alt: 'My Image' %>
				</div><!-- close first column (used for image) -->
				<div class="column col-md-6 col-lg-5">	<!-- open second column (used for text) -->
					<h3>I'Home</h3>		<!-- heading for the project -->
					<p>	<!-- open paragraph -->
						An app that makes you feel safer at night. Its primary target are people usually feel unsafe at night. The app allows them to share their location with trusted friends and family members when they are on the move especually at night.
					</p>	<!-- end paragraph -->		
					<%= link_to "Explore App", "https://im-home.herokuapp.com/", target: "_blank", class: 'button' %>
				</div> <!-- end second column -->
			</div>
			<div class="row">
				<div class="column col-md-6 col-lg-7"> <!-- open first column (used for image) -->
					<%= image_tag 'birdbnb/birdbnb_1.jpg', alt: 'My Image' %>
				</div><!-- close first column (used for image) -->
				<div class="column col-md-6 col-lg-5">	<!-- open second column (used for text) -->
					<h3>Bird bnb</h3>		<!-- heading for the project -->
					<p>	<!-- open paragraph -->
						An app that enable bird lovers to find and book birds in their area for a period of time.
					</p>	<!-- end paragraph -->		
					<%= link_to "Explore App", "https://bird-bnb.herokuapp.com/", target: "_blank", class: 'button' %>
				</div> <!-- end second column -->
			</div>
			<div class="row">
				<div class="column col-md-6 col-lg-7"> <!-- open first column (used for image) -->
					<%= image_tag 'placeholder/movie_1.jpg', alt: 'My Image' %>
				</div><!-- close first column (used for image) -->
				<div class="column col-md-6 col-lg-5">	<!-- open second column (used for text) -->
					<h3>Movie List</h3>		<!-- heading for the project -->
					<p>	<!-- open paragraph -->
						Are you a movie lover? This app will help you find the perfect movie to watch and arrange them based on your preference.
					</p>	<!-- end paragraph -->
					<%= link_to "Explore App", "https://rails-movie-list-816.herokuapp.com/", target: "_blank", class: 'button' %>
				</div> <!-- end second column -->
			</div>
		</div> <!-- end row that holds (2) columns for project 2 -->

